[package]
name = "gpui-my2ndapp"
version = "0.1.0"
edition = "2024"

[dependencies]
gpui = "0.2.2"
windows = { version = "0.62", features = [
    "Win32_Foundation",
    "Win32_Graphics_Gdi",
     "Win32_UI_WindowsAndMessaging",
]}